<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Raspi Fan Controller</title>
        <base href="/cool/"/>
        <link rel="stylesheet" href="@Assets["css/bootstrap/bootstrap.min.css"]"/>
        <link href="@Assets["css/site.css"]" rel="stylesheet"/>
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
        <HeadOutlet @rendermode="InteractiveServer"/>
    </head>
    <body>
        <Routes @rendermode="InteractiveServer"/>

        <div id="blazor-error-ui">
            An unhandled error has occurred.
            <a href="" class="reload">Reload</a>
            <a class="dismiss">🗙</a>
        </div>

        <script src="@Assets["_framework/blazor.web.js"]"></script>
    </body>
</html>
