@page "/"
@using Logic
@inject TemperatureController TemperatureController

<h1>Hello, world!</h1>

Welcome to your new app.

<p>Current temperature: @Temperature</p>


@code {

    private double Temperature { get; set; }

    /// <inheritdoc />
    protected override void OnInitialized()
    {
        base.OnInitialized();

        Refresh();
    }

    private async void Refresh()
    {
        while (true)
        {
            Temperature = TemperatureController.CurrentTemperature;
            StateHasChanged();

            await Task.Delay(TemperatureController.RefreshInterval);
        }
    }

}