name: Combined CI / Release

on:
  workflow_dispatch:
  push:
    branches:
      - '**'

jobs:
  shared_ci_cd:
    permissions:
      attestations: write
      contents: read
      id-token: write
      packages: write

    uses: mu88/common/.github/workflows/ci-cd.yml@ba12a2e9196b39b9a248d50bdcb23c0893ae1354
    with:
      docker-attest-provenance-and-sbom: true
      docker-publish-project: 'RaspiFanController/RaspiFanController.csproj'
      requires-docker-login: true
      sonar-key: mu88_RaspiFanController
    secrets:
      sonar-token: ${{ secrets.SONAR_TOKEN }}

  ci_cd:
    runs-on: ubuntu-latest
    
    needs: shared_ci_cd

    permissions:
      attestations: write # Needed for build provenance and SBOM attestation
      contents: write # Needed to create GitHub Release
      id-token: write # Needed for attestations

    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up .NET
        uses: actions/setup-dotnet@v5
        with:
          cache: true
          cache-dependency-path: '**/packages.lock.json'
          global-json-file: global.json

      - name: Build .NET single-file EXE
        run: |
          dotnet publish RaspiFanController/RaspiFanController.csproj \
            --output ${{ runner.temp }}/Release/ \
            --runtime linux-arm64 \
            --self-contained \
            /p:PublishSingleFile=true \
            /p:Version=${{ needs.shared_ci_cd.outputs.version }}

      - name: Create ZIP for release
        run: |
          cd ${{ runner.temp }}/Release/
          zip -r RaspiFanController.${{ needs.shared_ci_cd.outputs.version }}.zip *

      - name: Generate SBOM and attest build provenance and SBOM
        uses: mu88/common/.github/actions/attest-provenance-sbom@ba12a2e9196b39b9a248d50bdcb23c0893ae1354
        with:
          is-release: ${{ needs.shared_ci_cd.outputs.is_release }}
          sbom-file: sbom.json
          sbom-path: .
          subject-path: ${{ runner.temp }}/Release/RaspiFanController.${{ needs.shared_ci_cd.outputs.version }}.zip

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        if: ${{ needs.shared_ci_cd.outputs.is_release == 'true' }}
        with:
          body: ${{ needs.shared_ci_cd.outputs.release_notes }}
          files: |
            sbom.json
            ${{ runner.temp }}/Release/RaspiFanController.${{ needs.shared_ci_cd.outputs.version }}.zip
          name: ${{ needs.shared_ci_cd.outputs.version }}
          tag_name: ${{ needs.shared_ci_cd.outputs.version }}
