name: Combined CI / Release

on:
  workflow_dispatch:
  push:
    branches:
      - '**'

jobs:
  shared_ci_cd:
    permissions:
      attestations: write
      contents: read
      id-token: write
      packages: write

    uses: mu88/github-actions/.github/workflows/ci-cd.yml@5abbf0ac2dd5f5a4fbf4ab7f816ff85eca8f196a
    with:
      docker-publish-mode: regular_and_chiseled
      docker-publish-project: 'RaspiFanController/RaspiFanController.csproj'
      requires-docker-login: true
      sonar-key: mu88_RaspiFanController
    secrets:
      sonar-token: ${{ secrets.SONAR_TOKEN }}

  ci_cd:
    runs-on: ubuntu-latest

    needs: shared_ci_cd

    permissions:
      attestations: write
      contents: read
      id-token: write

    steps:
      - name: Check out code
        uses: actions/checkout@v5

      - name: Set up .NET
        uses: actions/setup-dotnet@v5
        with:
          cache: true
          cache-dependency-path: "**/packages.lock.json"
          global-json-file: global.json

      - name: Build .NET single-file EXE
        run: |
          dotnet publish RaspiFanController/RaspiFanController.csproj \
            --output ${{ runner.temp }}/Release/ \
            --runtime linux-arm64 \
            --self-contained \
            /p:PublishSingleFile=true

      - name: Create ZIP for release
        run: |
          cd ${{ runner.temp }}/Release/
          zip -r RaspiFanController.${{ needs.shared_ci_cd.outputs.release_version }}.zip *

      - name: Determine release notes
        id: changelog
        if: ${{ needs.shared_ci_cd.outputs.is_release == 'true' }}
        run: |
          dotnet tool restore

          $release_notes = dotnet tool versionize changelog -v ${{ needs.shared_ci_cd.outputs.release_version }}
          if [ -z "$release_notes" ]; then
            echo "No release notes generated, something went wrong."
            exit 1
          fi

          echo "changes=$release_notes" >> $GITHUB_OUTPUT

      - name: Attest build provenance
        uses: actions/attest-build-provenance@v3
        if: ${{ needs.shared_ci_cd.outputs.is_release == 'true' }}
        with:
          subject-path: ${{ runner.temp }}/Release/RaspiFanController.${{ needs.shared_ci_cd.outputs.release_version }}.zip

      - name: Generate SBOM
        uses: anchore/sbom-action@v0
        with:
          output-file: sbom.json
          path: .

      - name: Attest SBOM
        uses: actions/attest-sbom@v2
        if: ${{ needs.shared_ci_cd.outputs.is_release == 'true' }}
        with:
          sbom-path: sbom.json
          subject-path: ${{ runner.temp }}/Release/RaspiFanController.${{ needs.shared_ci_cd.outputs.release_version }}.zip

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        if: ${{ needs.shared_ci_cd.outputs.is_release == 'true' }}
        with:
          files: |
            sbom.json
            ${{ runner.temp }}/Release/RaspiFanController.${{ needs.shared_ci_cd.outputs.release_version }}.zip
          name: ${{ needs.shared_ci_cd.outputs.release_version }}
          tag_name: v${{ needs.shared_ci_cd.outputs.release_version }}
          body: ${{ steps.changelog.outputs.changes }}
